:root {
    --bright-pink: #FF006E;
    --bright-green: #4FE451;
    --ivory: #fbf8ef;
    --dark-blue: #003F63;
    --graphite: #272727;

}
@font-face {
    font-family: 'Oswald';
    src: url(assets/Oswald/static/Oswald-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Oswald';
    src: url(assets/Oswald/static/Oswald-Bold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'Manrope';
    src: url(assets/Manrope/static/Manrope-Regular.ttf);
    font-weight: 400;   
}
@font-face {
    font-family: 'Manrope';
    src: url(assets/Manrope/static/Manrope-Bold.ttf);
    font-weight: 800;   
}

body {
    background-color: var(--ivory);
    margin: 40px 0 0 0;
}

header {
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}

.brand-logo {
    height: 180px;
}

h1 {
    font-family: 'Oswald';
    color: var(--bright-pink);
    font-size: 80px;
    margin: 5px;
    text-align: right;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

nav a {
    font-family: 'Oswald';
    font-size: 24px;
    color: var(--bright-pink);
    text-decoration: none;
    padding: 10px;
    font-weight: 800;
}

nav a:hover {
    color: var(--bright-green);
}

.some-teams-article {
    font-family: 'Manrope';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    margin: 30px;
    padding: 40px 0px;
}

.team-logo {
    height: 100px;
    width: 100px;
}

.team-div {
    width: 300px;
    height: 300px;
    color: var(--dark-blue);
}

#team-name {
    font-weight: 800;
}

.about-me-container {
    display: flex;
    margin: 30px;
    padding: 40px 0px;
    font-family: 'Manrope';
}

.about-me-img {
    width: 28%;
    height: 28%;
}

.about-me-article {
    margin: 0 35px;
}

.list-container {
    display: flex;
    justify-content: space-between;
}

.list-container ul {
    margin: 20px 0;
}

.list-container li {
    font-size: 14px;
}

.list-title {
    text-decoration: underline;
    margin: 2px;
}

footer {
    height: 40px;
    background-color: var(--bright-pink);
}

.contact-container {
    display: flex;
    margin: 30px;
    padding: 40px 0px;
    font-family: 'Manrope';
}

.contact-img {
    width: 28%;
    height: 28%;
}