:root {
    --pampas: #F0EDE8;
    --olive: #ABAC5A;
    --rock-blue: #9FB2CD;
    --blue-bayoux: #496677;
    --marroon: #271203;
}
@font-face {
    font-family: 'Oswald';
    src: url(assets/Oswald/static/Oswald-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Oswald';
    src: url(assets/Oswald/static/Oswald-Bold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'Manrope';
    src: url(assets/Manrope/static/Manrope-Regular.ttf);
    font-weight: 400;   
}
@font-face {
    font-family: 'Manrope';
    src: url(assets/Manrope/static/Manrope-Bold.ttf);
    font-weight: 800;   
}

body {
    background-color: var(--pampas);
    margin: 0;
    font-family: 'Manrope';
    color: var(--marroon);
}

header {
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 40px 40px;
    background-color: var(--olive);
}

.brand-logo {
    height: 180px;
}

h1 {
    font-family: 'Oswald';
    color: var(--pampas);
    font-size: 80px;
    margin: 5px;
    text-align: right;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    background-color: var(--olive);
    padding: 40px 0 0 0;
}

nav a {
    font-family: 'Oswald';
    font-size: 24px;
    color: var(--marroon);
    text-decoration: none;
    padding: 10px;
    font-weight: 800;
}

nav a:hover {
    color: var(--pampas);
}

.some-teams-article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    margin: 30px;
    padding: 40px 0px;
}

.team-logo {
    height: 100px;
    width: 100px;
}

.team-div {
    width: 300px;
    height: 300px;
}

#team-name {
    font-weight: 800;
}

.team-div a {
    color: var(--marroon);
}

.team-div a:hover {
    color: var(--olive);
}
.about-me-container {
    display: flex;
    margin: 30px;
    padding: 40px 0px;
}

.about-me-img {
    width: 28%;
    height: 28%;
}

.about-me-article {
    margin: 0 35px;
}

.list-container {
    display: flex;
    justify-content: space-around;
}

.list-container ul {
    margin: 20px 0;
}

.list-container li {
    font-size: 14px;
    list-style: circle;
    color: var(--blue-bayoux);
}

.list-title {
    text-decoration: underline;
    margin: 2px;
    font-weight: 800;
    color: #496677;
}

footer {
    height: 80px;
    background-color: var(--marroon);
    color: var(--pampas);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    display: flex;
    margin: 30px;
    padding: 40px 0px;
    align-items: center;
}

.contact-img {
    width: 33%;
    height: 33%;
    border-radius: 100%;
}

.contact-card {
    width: 33%;
    height: 33%;
    padding: 10px;
    text-align: center;
}

.contact-links {
    width: 33%;
    height: 33%;
    display: flex;
    justify-content: space-evenly;
}